<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccommit.fashionserver.mapper.OrderMapper">

    <insert id="insertOrder" parameterType="com.ccommit.fashionserver.dto.OrderDto" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO orders (total_price, status, payment_id, create_date,
        shipping_status, product_info, user_id)
        VALUES (#{totalPrice}, #{status}, #{paymentId}, now(),
        #{shippingStatus}, #{productInfo}, #{userId})
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="getUserOrderList" resultType="com.ccommit.fashionserver.dto.ResponseOrder">
        SELECT id,
        total_price,
        status,
        payment_id,
        create_date,
        update_date,
        shipping_status,
        product_info,
        user_id
        FROM orders
        WHERE user_id = #{userId}
    </select>

    <select id="getUserOrder" resultType="com.ccommit.fashionserver.dto.OrderDto">
        SELECT id,
        total_price,
        status,
        payment_id,
        create_date,
        update_date,
        shipping_status,
        product_info,
        user_id
        FROM orders
        WHERE id = #{id}
    </select>

    <update id="updateSaleQuantity" parameterType="String">
        UPDATE products SET sale_quantity = #{resultQuantity}
        WHERE id = #{id}
    </update>

</mapper>