<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccommit.fashionserver.mapper.UserMapper">

    <!--아이디 존재 유무 체크-->
    <select id="isIdCheck" resultType="int">
        SELECT COUNT(id)
        FROM users
        WHERE user_id = #{userId}
    </select>

    <!--회원 등록-->
    <insert id="signUp" parameterType="com.ccommit.fashionserver.dto.UserDto">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            SELECT IFNULL(max(id)+1,1) as id
            FROM users
        </selectKey>
        INSERT INTO users (id, address, password, phone_number, update_date, create_date, sign_status
        , is_withdraw, user_id, is_admin)
        VALUES (#{id}, #{address}, #{password}, #{phoneNumber}, #{updateDate}, now(), #{signStatus},
        #{isWithdraw},#{userId}, #{isAdmin})
    </insert>

    <!--탈퇴 가능한 조건인지 체크-->
    <!--주문일 경우 체크해야하는데 주문쪽 생성하고 수정하기. -->
    <!--회원 탈퇴-->
    <update id="userWithdraw" parameterType="String">
        UPDATE users
        SET update_date = now(),
            is_withdraw = 0
        WHERE user_id = #{userId}
    </update>

    <!--회원 수정-->
    <update id="userInfoUpdate" parameterType="com.ccommit.fashionserver.dto.UserDto">
        UPDATE users
        SET
            <if test="address != null &amp;&amp; !address.equals('') ">
                address = #{address},
            </if>
            <if test="password != null&amp;&amp; !password.equals('') ">
                password = #{password},
            </if>
            <if test="phoneNumber != null &amp;&amp; !phoneNumber.equals('') ">
                phone_number = #{phoneNumber},
            </if>
        update_date = now()
        WHERE user_id = #{userId}
    </update>

    <select id="checkUserInfo" resultType="com.ccommit.fashionserver.dto.UserDto">
        SELECT id,
               user_id,
               address,
               phone_number,
               create_date,
               update_date,
               sign_status,
               is_withdraw,
               is_admin
        FROM users
        WHERE user_id = #{userId}
    </select>

</mapper>